* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
}

.box-container {
  width: 400px;
}

.header {
  width: 100%;
  text-align: center;
  line-height: 80px;
  color: lightgreen;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.section {
  width: 100%;
  background-color: white;
  /* padding: 15px; */
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.section > p {
  width: 90%;
  display: inline-block;
  line-height: 60px;
  padding-left: 20px;
  font-size: 20px;
}

.section button {
  background-color: white;
  border: none;
}

.section button i {
  font-size: 18px;
  cursor: pointer;
  color: green;
}

.box-inner {
  height: 0;
  transition: 0.4s;
}

.box-inner p {
  border-top: 1px solid gray;
  padding: 15px;
}

.show .box-inner {
  height: 150px;
}