* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 40px;
}

.underline {
  width: 80px;
  height: 5px;
  background-color: burlywood;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.filter-btn {
  background-color: inherit;
  border: 2px solid burlywood;
  padding: 0 10px;
  border-radius: 10px;
  color: burlywood;
  margin: 0 10px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: burlywood;
  color: white;
}

.section-center {
  margin-top: 70px;
}

.menu-item {
  margin: 40px 60px;
}

.img-box {
  width: 500px;
  height: 250px;
  border: 5px solid burlywood;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box > img {
  width: 100%;
}

.menu-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.price {
  color: burlywood;
}

.text-info {
  width: 500px;
  padding: 5px 10px;
  border-top: 1px solid rgb(212, 212, 212);
}

@media screen and (min-height: 900px) {
  .section-center {
    width: 1900px;
    display: flex;
    flex-wrap: wrap;
  }
}